@page "/confirmation/{token}"
@using System.Net.Http.Headers
@using TaskList.Components.Domain.Main.UseCases.ResponseCase


@inject HttpClient Http
@inject Authenticationservice Authenticationservice
@rendermode InteractiveServer


<h3 style="width:100%;text-align:center;font-weight:900;font-size:30px">Confirmação de Conta</h3>

@if (!string.IsNullOrEmpty(responseMessage))
{
    <div class="alert alert-info mt-3">
        @responseMessage
    </div>
}
@if (buttonHome)
{
    <a style="width:30%;margin-left:35%;margin-top:5%" href="/home" class="btn btn-success">Página Inicial</a>
}

@code {

    [Parameter]
    public string Token { get; set; } = string.Empty;
    private string LocalHost = Configuration.Ip.LocalHost;

    private string tokenUser = string.Empty;

    private string responseMessage = string.Empty;
    private bool buttonHome = false;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //var url = $"https://{LocalHost}/user/confirmation/{Token}";
            var url = $"https://localhost:7103/user/confirmation/{Token}";

            var response = await Http.GetAsync(url);
            var result = await response.Content.ReadFromJsonAsync<Response>();
            if(result == null)
            {
                responseMessage = "Erro ao ler os dados JSON";
                return;
            }

            if (result.IsSuccess)
                buttonHome = true;

            responseMessage = result.Message;
            StateHasChanged();
        }
    }

}
