@page "/create-task"
@using global::TaskList.Components.Domain.Infra.Data
@using global::TaskList.Components.Domain.Main.DTOs.TaskDTOs
@using global::TaskList.Components.Domain.Main.UseCases.ResponseCase



@inject AppDbContext Context
@inject HttpClient Http

<h3>Criar nova tarefa</h3>

<EditForm Model="model" OnSubmit="HandleSubmit" FormName="taskForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-1">
        <label for="Title" class="form-label">Título</label>
        <InputText class="form-control" id="Title" @bind-Value="model.Title" />
    </div>
    <div class="mb-3">
        <label for="Text" class="form-label">Descrição</label>
        <InputText class="form-control" id="Description" @bind-Value="model.Description" />

    </div>
    <div class="mb-3">
        <label for="StartTime" class="form-label">Data de Início</label>
        <InputDate class="form-control" id="Password" @bind-Value="model.StartTime" />

    </div>
    <div class="mb-3">
        <label for="Deadline" class="form-label">Data do Término</label>
        <InputDate class="form-control" id="Deadline" @bind-Value="model.Deadline" />

    </div>

    <button class="btn btn-success" type="submit">Criar Tarefa</button>
</EditForm>

@if (!string.IsNullOrEmpty(responseMessage))
{
    <div class="alert alert-info mt-3">
        @responseMessage
    </div>
}

@code {

    [SupplyParameterFromForm]
    private RequestTask model { get; set; } = new();


    private string? responseMessage;

    private async Task<Response> HandleSubmit()
    {
        model.UserId = Guid.Parse("f537b3ee-cd9f-4277-b1aa-6a4c35713a2d");
        var response = await Http.PostAsJsonAsync("task/create", model);

        if (model.StartTime == null || model.Deadline == null)
        {
            responseMessage = "Data de Início e Data do Término são obrigatórias.";
            return null;
        }

        var result = await response.Content.ReadFromJsonAsync<Response>();
        responseMessage = result.Message;

        if(result.IsSuccess)
        {
            model.Title = string.Empty;
            model.Description = string.Empty;
            model.StartTime = new(1,1,1);
            model.Deadline = new(1,1,1);
        }

        return result;
  
    }
}
