@page "/task-list/edit/{id:guid}"


@using global::TaskList.Components.Domain.Infra.Data
@using global::TaskList.Components.Domain.Main.DTOs.TaskDTOs
@using global::TaskList.Components.Domain.Main.Entities
@using global::TaskList.Components.Domain.Main.UseCases.ResponseCase
@* @attribute [RenderModeInteractiveServer] *@
@rendermode InteractiveServer


@inject HttpClient Http;

<h3>Editar Tarefa</h3>

<EditForm Model="@Model" OnValidSubmit="HandleEdit" FormName="taskEditForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-1">
        <label for="Title" class="form-label">Título</label>
        <InputText class="form-control" placeHolder="@ModelIn.Title" id="Title" @bind-Value="Model.Title" />
    </div>
    <div class="mb-3">
        <label for="Text" class="form-label">Descrição</label>
        <InputText class="form-control" id="Description"
                   @bind-Value="Model.Description" />

    </div>
    <div class="mb-3">
        <label for="Deadline" class="form-label">Data de Início</label>
        <InputDate class="form-control" id="StartTime" @bind-Value="Model.StartTime" />
        
    </div>
    <div class="mb-3">
        <label for="Deadline" class="form-label">Data de Término</label>
        <InputDate class="form-control" id="Deadline" @bind-Value="Model.Deadline" />
    </div>

    <button class="btn btn-success" type="submit">Alterar Tarefa</button>
</EditForm>

@if (!string.IsNullOrEmpty(responseMessage))
{
    <div class="alert alert-info mt-3">
        @responseMessage
    </div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    [SupplyParameterFromForm]
    private RequestTask Model { get; set; } = new();
    private RequestTask ModelIn { get; set; } = new();

    private RequestTask taskEdited = new();
    private string? responseMessage;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync($"task/task/{Id}");
        Response result = await response.Content.ReadFromJsonAsync<Response>();


        Model.Title = result.TaskList.Title;
        Model.Description = result.TaskList.Description;
        Model.StartTime = result.TaskList.StartTime;
        Model.Deadline = result.TaskList.Deadline;

        //responseMessage = result.Message;
    }

    public async Task<Response> HandleEdit()
    {        
        Model.Id = Id;
        taskEdited = Model;

        var response = await Http.PostAsJsonAsync("task/edit", taskEdited);

        var result = await response.Content.ReadFromJsonAsync<Response>();

        responseMessage = result.Message;

        return result;
    }
}
