@page "/task-list"

@using Microsoft.EntityFrameworkCore
@using global::TaskList.Components.Domain.Infra.Data
@using global::TaskList.Components.Domain.Main.Entities
@using global::TaskList.Components.Domain.Main.Services
@using global::TaskList.Components.Domain.Main.UseCases.ResponseCase
@using static global::TaskList.Components.Domain.Main.Entities.TaskEntity

@inject AppDbContext Context
@inject HttpClient Http


<h3>Lista de Tarefas</h3>

<table class="table">
    <thead>
        <tr>
            <td>Ord</td>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Início</td>
            <td>Término</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var task in _tasks)
        {
            
            <tr>
                <td>@count++</td>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.StartTime.ToShortDateString()</td>
                <td>@task.Deadline.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

@if (!string.IsNullOrEmpty(responseMessage))
{
    <div class="alert alert-info mt-3">
        @responseMessage
        Token: @token
    </div>
}
@code {

    int count = 1;
    List<TaskEntity> _tasks = new();
    

    string responseMessage = string.Empty;
    string token = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<Response>("task/list");
            //responseMessage = response.Message;
            _tasks = response.TasksList;
        }
        catch (Exception ex)
        {
            responseMessage = ex.Message;
        }


    }



}
