@page "/authorize"
<h3 style="text-align:center;width:100%">Acesso Não Autorizado!</h3>
<div style="width:100%;display:flex;flex-direction:column;align-items:center">

    <div>
    <img src="images/401.jpg" alt="Imagem Erro 401" />
    </div>
    <p>Apenas usuários logados podem acessar esta página</p>
<NavLink href="/home" style="width:20%" class="btn btn-primary">Login</NavLink>
</div>
@code {

}
